<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}iotagle{% endblock %}</title>
</head>
<body bgcolor="#ffffff" text="#000000" link="#0000ee" vlink="#551a8b" alink="#ff0000">
<table width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr>
    <td><a href="/"><b>iotagle</b></a> &middot; <a href="/about">about</a> &middot; <a href="/visitors">visitors</a></td>
    <td align="right">
      <form action="/search" method="get">
        <input type="text" name="q" size="32" value="{{ q|default('', true)|e }}">
        <input type="submit" value="Search">
      </form>
    </td>
  </tr>
</table>
<hr noshade size="1">
{% block content %}{% endblock %}
<hr noshade size="1">
<table width="100%" border="0"><tr>
  <td><font size="1">iotagle &mdash; a transcoding proxy for vintage browsers.
    Content links go to original sources.</font></td>
  <td align="right"><font size="1"><a href="/about">about</a></font></td>
</tr></table>
</body>
</html>
